[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"
autopep8 = "*"
pyautogui = "*"
pyqt6 = "*"
pynput = "*"

[dev-packages]
pyinstaller = "*"
pillow = "*"
py2app = "*"

[requires]
python_version = "3.11"
